{% extends 'base.html.twig' %}

{% block title %}Edit UserQuizSelection{% endblock %}

{% block body %}
    <h1>Edit UserQuizSelection</h1>

    {{ include('user_quiz_selection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_quiz_selection_index') }}">back to list</a>

    {{ include('user_quiz_selection/_delete_form.html.twig') }}
{% endblock %}
